body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(244, 234, 255);
  color: rgb(231, 231, 231);
  text-align: center;
}
.title {
  font-size: 65px;
  color: #5f256d;
  margin-bottom: 10px;
  font-weight: bold;
}
img {
  width: 300px;
  margin-bottom: 15px;
}
main {
  width: 750px;
  background-color: #5f256d;
  margin: auto;
  text-align: left;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
h2 {
  margin-bottom: 15px;
}
p {
  margin: 0;
}
ul {
  padding-left: 0;
}
li {
  padding: 0;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: 5px solid #5f256d;
}
.important {
  border-left: 5px solid gold;
}
a{
    background-color: rgb(224, 205, 94);
    color: #381541;
    font-weight: bold;
    padding: 3px;
    border-radius: 4px;
    text-decoration: none;
}
a:hover{
  background-color: rgb(219, 195, 55);
}
#summary-button{
    background-color: rgb(252, 179, 23);
    color: rgb(32, 30, 30);
    padding: 5px 10px;
    display: inline-block;
    margin: 20px auto;
}
#summary-button:hover, #summary-button:active{
  background-color: rgb(163, 118, 20);
}
#trade-mark {
    color: rgb(58, 54, 54);
    font-size: 13px;
}