body {
    background-color: blue;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.fake_body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    background-color: hsla( 200, 100%, 6%, 0.7);
    padding: 50px;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
    text-transform: uppercase;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: .5em;
}
.password-container {
    margin-bottom: 15px;
}
button {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: hsla(200, 100%, 50%, .25);
    border: 1px solid hsl(200, 100%, 50%);
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    width: 300px;
}
button:hover {
    background-color: hsla(200, 100%, 50%, .4);
}